.home-content {
  width: 90%;
}
.stats-cards-container {
  justify-content: space-evenly;
  margin-bottom: 50px;
  display: flex;

}
.activity-cards-container {
  justify-content: space-evenly;
  display: flex;
}

.content {

}