.activity-container {
  padding: 15px;
}
.activity-title {
  font-weight: 600;
  font-size: 22px;
}
.activity-item-content {
  display: flex;
  padding-bottom: 10px;
}
.activity-item-icon {
  flex: 1;
  font-size: 25px;
}

.activity-item-info {
  flex: 4;
}
.activity-item-author {
  justify-content: flex-start;
  color: #878686;
}
.activity-item-body {
  justify-content: flex-start;
  font-size: 18px;
}
